.casa-icon {
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px; /* Asegura que tenga la misma altura */
    margin-left: 10px; /* Espacio a la izquierda del texto */
    transition: transform 0.2s ease; /* Transición suave para el efecto hover */
}

.casa-icon:hover {
    transform: scale(1.1); /* Aumenta el tamaño ligeramente al pasar el mouse */
}



body {
    background: linear-gradient(to right, #1a1a1a, #4a4a4a); /* O el mismo fondo que uses en tu index */
    color: white; /* Ajusta el color del texto según sea necesario */
}

#carrito {
    color: white; /* Color de texto */
    text-align: center;

}

h2 {
    margin-bottom: 20px; /* Aumentar margen inferior del título */
    font-size: 2em; /* Aumentar tamaño de fuente del título */
    text-align: center; /* Centrar el título */
}

.tabla-contenedor {
    max-width: 1200px; /* Ancho máximo para la tabla */
    margin: 0 auto; /* Centrar el contenedor */
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
    text-align: center;
}

table {
    width: 100%; /* Asegúrate de que la tabla ocupe todo el ancho del contenedor */
    border-collapse: collapse; /* Colapsar bordes */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semi-transparente */
    color: white; /* Color del texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para la tabla */
    text-align: center;
}

th, td {
    padding: 15px; /* Aumentar espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Línea divisoria con color blanco semi-transparente */
}

th {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo para los encabezados */
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Resaltar fila al pasar el mouse */
}

/* Ajustes para la imagen del poster */
.poster {
    width: 80px; /* Ancho fijo para la imagen */
    height: 120px; /* Alto fijo para la imagen */
    object-fit: cover; /* Mantener la proporción de la imagen */
}

.btn-comprar {
    background: linear-gradient(to right, #4c6ef5, #b06ab8); /* Degradado azul a morado */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar */
    transition: background 0.3s; /* Transición suave */
}

.btn-comprar:hover {
    background: linear-gradient(to right, #2a5bdb, #a05b9d); /* Cambio de color al pasar el mouse */
}
