body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

/*Espaciado de la pagina*/
section {
    margin: 60px 0; 
}

.seccion-tendencias, #peliculas {
    margin: 20px 0; 
}
.seccion-tendencias, #peliculas {
    display: flex; 
    align-items: center;
}

/*header*/
header {
    background-color: #1E1E1E;
    color: #FFD700;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #E50914;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #FF1E1E;
}

.card {
    background-color: #232323;
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px;
    color: #CCCCCC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.carrito-icon {
    width: 24px;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

.nav-link {
    font-size: 1.1rem;
    margin-right: 20px;
}

.carrito-icon {
    width: 24px;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
}

#header {
    position: relative;
    height: 450px;
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#header h1 {
    font-size: 5rem;
    position: absolute;
    
    background: linear-gradient(45deg, #800080, #0000FF);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px 20px;
    
}

#header h2.slogan {
    font-size: 1.5rem;
    position: absolute;
    background: linear-gradient(45deg, #800080, #0000FF);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 5px 10px;
    margin-top: 180px;
}

#header h1, #header h2.slogan {
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 
        0 0 5px rgba(0, 0, 255, 0.7),
        0 0 10px rgba(0, 0, 255, 0.5),
        0 0 15px rgba(255, 0, 255, 0.3);
}

.movie-row {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.movie-container {
    display: flex;
    animation: scroll-right 30s linear infinite;
    height: 100%;
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.movie-container img {
    height: 100%;
    width: auto;
    min-width: 310px;
    max-width: 360px;
    object-fit: cover;
    margin: 0;
}

/*Sección de Peliculas*/
#peliculas {
    position: relative;
    overflow: hidden;
}

.peliculas-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: transparent transparent; /* Color de la barra y del fondo para Firefox */
}

/* Estilos para los navegadores webkit (Chrome, Safari) */
.peliculas-container::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento */
}

/* Barra de desplazamiento (thumb) */
.peliculas-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6); /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

/* Fondo de la barra de desplazamiento (track) */
.peliculas-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Color de fondo de la barra de desplazamiento */
}

/* Efecto hover sobre la barra de desplazamiento */
.peliculas-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8); /* Color de la barra al pasar el mouse */
}

/* Estilos adicionales para el contenedor */
.peliculas-container {
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    scrollbar-width: thin; /* Para Firefox */
}

.peliculas-wrapper {
    display: flex;
}

.pelicula-card {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 15px;
    transition: transform 0.3s;
    text-align: center;
}

.pelicula-card img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.pelicula-card button {
    background: linear-gradient(135deg, #6a5acd, #1e90ff);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.pelicula-card button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #5b4bd8, #1a7ec7);
}

.pelicula-card:hover {
    transform: scale(1.05);
}


/*Seccion de botones*/

.titulo-tendencias {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #6a0dad;
}

.seccion-tendencias {
    text-align: center;
    margin: 40px auto;
    max-width: 800px;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.tendencias-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

button {
    background: linear-gradient(90deg, #6a0dad, #1e90ff);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    flex: 1 1 auto;
    text-align: center;
}

button:hover {
    background: linear-gradient(90deg, #1e90ff, #6a0dad);
}

.busqueda-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.busqueda-input {
    border: 2px solid #6a0dad;
    border-radius: 20px;
    padding: 10px 15px;
    width: 250px;
    font-size: 14px;
}

.busqueda-icon {
    width: 20px;
    height: 20px;
    margin-left: -40px;
    cursor: pointer;
    opacity: 0.7;
}

.genero-select {
    border: 2px solid #6a0dad;
    border-radius: 20px;
    padding: 8px;
    font-size: 14px;
    color: #6a0dad;
}


/*Barra de progreso*/
.progress {
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.progress-bar {
    height: 20px;
}

.casa-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.casa-icon:hover {
    transform: scale(1.1);
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.swal-dark-popup {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.swal-dark-title {
    color: #fff !important;
}

.swal-dark-content {
    color: #ddd !important;
}

.swal-dark-button {
    background: linear-gradient(to right, #4c6ef5, #b06ab8);
    color: #fff !important;
    border: none !important;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.swal-dark-button:hover {
    background: linear-gradient(to right, #2a5bdb, #a05b9d);
}

.swal-dark-cancel-button {
    background: #444;
    color: #fff !important;
    border: none !important;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.swal-dark-cancel-button:hover {
    background: #555;
}


/*Sección de Personas Populares*/

/* Título de la sección de personas */
.seccion-personas .titulo {
    font-size: 40px; /* Tamaño de fuente llamativo */
    font-weight: bold; /* Negrita para resaltar */
    color: #6a0dad; /* Color destacado */
    text-align: center; /* Centrado */
    margin-bottom: 50px; /* Espacio inferior */
    position: relative; /* Para usar decoraciones */
    
}

/* Decoración debajo del título */
.seccion-personas .titulo::after {
    content: '';
    display: block;
    width: 100px; /* Ancho de la línea decorativa */
    height: 3px; /* Altura de la línea */
    background: linear-gradient(90deg, #6a0dad, #1e90ff); /* Efecto degradado */
    margin: 10px auto 0; /* Centrado y separación */
    border-radius: 3px; /* Bordes redondeados */
}

.seccion-personas-wrapper {
    background-color: #18171c; /* Color de fondo para toda la sección */
    padding: 40px 0; /* Espaciado superior e inferior */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

.seccion-personas {
    max-width: 1200px; /* Máxima anchura para el contenido interno */
    margin: 0 auto; /* Centra el contenido interno */
    padding: 20px; /* Espaciado interno del contenido */
    text-align: center; /* Centrar texto dentro del contenedor */
    margin-top: 80px;
}


.personas-grid {
    display: grid; /* Usa un diseño de cuadrícula */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el número de columnas según el tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center; /* Centra las tarjetas en la cuadrícula */
}

.tarjeta {
    width: 250px; /* Ancho fijo para las tarjetas */
    height: 250px; /* Altura fija para las tarjetas, ajustada a un formato circular */
    perspective: 1000px; /* Agrega perspectiva para el efecto 3D */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    border-radius: 50%; /* Hace que la tarjeta sea circular */
    overflow: hidden; /* Oculta el contenido que sale del borde */
    position: relative; /* Permite posicionar las caras dentro de la tarjeta */
}

.cara {
    position: absolute; /* Posicionamiento absoluto para superponer las caras */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    transition: transform 0.6s; /* Transición suave al girar */
    transform-style: preserve-3d; /* Mantiene el estilo 3D al girar */
}

.cara.girada {
    transform: rotateY(180deg); /* Gira la tarjeta al hacer clic */
}

.frontal, .trasera {
    position: absolute; /* Posicionamiento absoluto para superponer las caras */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    backface-visibility: hidden; /* Oculta la cara opuesta al girar */
    border-radius: 50%; /* Hace que las caras también sean circulares */
    overflow: hidden; /* Oculta el contenido que sale del borde */
}

.frontal img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen llene el espacio */
    border-radius: 50%; /* Asegura que la imagen tenga bordes circulares */
}

.trasera {
    display: flex; /* Usa flexbox para centrar el contenido */
    flex-direction: column; /* Alinea el contenido verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    background-color: #343a40; /* Fondo oscuro para la parte de atrás */
    color: white; /* Texto blanco para contraste */
    padding: 10px; /* Espacio interno */
    transform: rotateY(180deg); /* Gira la parte de atrás para que esté oculta inicialmente */
}

/* Botones del carrusel */
.carrusel-btn {
  background-color: transparent; /* Fondo transparente */
  color: white; /* Solo las flechas blancas */
  border: none; /* Sin borde */
  width: 60px; /* Botón más largo */
  height: 60px; /* Botón más largo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /* Tamaño de las flechas */
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 50%; /* Centrado verticalmente */
  transform: translateY(-50%);
  z-index: 1000; /* Asegúrate de que estén visibles */
  visibility: visible; /* Asegúrate de que no estén ocultos */
}

.carrusel-btn.prev {
  left: -20px; /* Más hacia el costado izquierdo */
}

.carrusel-btn.next {
  right: -20px; /* Más hacia el costado derecho */
}

.carrusel-btn:hover {
  color: #6a0dad; /* Cambia el color al pasar el cursor */
}

/* Asegura que el contenedor del carrusel esté posicionado correctamente */
.personas-article {
  position: relative; /* Necesario para posicionar los botones dentro del contenedor */
}

/* Transición más fluida para el carrusel */
.personas-grid {
  display: grid; /* Mantén la cuadrícula original */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste original */
  gap: 20px; /* Espacio entre tarjetas */
  justify-items: center; /* Centra las tarjetas en la cuadrícula */
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1); /* Animación fluida */
}

.personas-grid-wrapper {
  overflow: hidden; /* Oculta los elementos fuera del contenedor */
  width: 100%; /* Asegura que ocupe todo el ancho */
  position: relative; /* Permite posicionar elementos dentro */
}

  
  
  



/*Footer*/
footer {
    background-color: #191919; /* Fondo oscuro */
    color: #f4f4f4; /* Texto claro para contraste */
    padding: 40px 20px; /* Espaciado */
    text-align: center; /* Centrar contenido */
}

footer .contenedor-footer {
    max-width: 1200px;
    margin: 0 auto; /* Centrar el contenido horizontalmente */
}

footer .logo-footer {
    font-size: 50px; /* Tamaño del ícono */
    color: #1e90ff; /* Color del ícono */
    margin-bottom: 15px; /* Espaciado debajo del logo */
}

footer h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; /* Espaciado */
}

footer .social__icons {
    margin: 15px 0; /* Espaciado alrededor de los iconos */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Separación entre los iconos */
}

footer .social__icons span {
    width: 40px; /* Dimensiones uniformes */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e90ff; /* Fondo del ícono */
    border-radius: 50%; /* Forma circular */
    transition: transform 0.3s, background-color 0.3s;
}

footer .social__icons span:hover {
    transform: scale(1.1); /* Efecto de agrandar al pasar el mouse */
    background-color: #6a0dad; /* Cambio de color en hover */
}

footer .social__icons i {
    font-size: 24px; /* Tamaño del ícono */
    color: #fff; /* Color blanco para el ícono */
}

footer p {
    font-size: 14px; /* Tamaño de texto */
    line-height: 1.5; /* Mejor legibilidad */
    margin-top: 20px; /* Separación superior */
}

footer .titulo-final {
    font-size: 14px;
    margin-top: 20px;
    color: #888; /* Texto tenue */
}