<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Cinéphile</title>
</head>
<body>
    <section id="contenedor">
        <header>
            <h1>Cinéphile</h1>
            <a href="Carrito.html">Carrito</a>
        </header>
        <div>
            <button @click="LLamarTendencia">Tendencias</button>
            <button @click="LLamarPopular">Popular</button>
            <button @click="LLamarPuntuada">Mejor Puntuadas</button>
        </div>
        <input type="text" v-model="busqueda" placeholder="Buscar película...">
        <p>Total de películas encontradas: {{ pelisEncontrados }}</p>
        <div class="progress">
            <div class="progress-bar" :class="color" role="progressbar" :style="{ width: porcentaje + '%' }" aria-valuenow="porcentaje" aria-valuemin="0" aria-valuemax="100">{{ porcentaje }}%</div>
        </div>
        <div class="row">
            <div class="col-md-4" v-for="pelicula in peliculasFiltradas" :key="pelicula.id">
                <div class="card mb-4">
                    <img :src="`https://image.tmdb.org/t/p/w500${pelicula.poster_path}`" class="card-img-top" alt="poster" @click="verDetalle(pelicula)">
                    <h5 class="card-title">{{ pelicula.title }}</h5>
                    <p class="card-text">Fecha: {{ pelicula.release_date }}</p>
                    <p>Precio: ${{ pelicula.precio }}</p>
                    <button @click="agregarCarrito(pelicula)">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>
    <script src="js/vue3.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>

